
#menu-button-div {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 1.8rem;
    width: 3.5rem;
    border: 1px solid rgb(224, 223, 223);
    padding: 5px 5px 5px 12px;
    border-radius: 1.8rem;
    padding-right: -30%;
    transition: all 0.2s ease;
    background-color: white;
    // overflow: hidden;
    cursor: pointer;
}

#menu-button-div:hover {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.10);
}

#profile-icon {
    position: relative;
    right: 23px;
    top: 5px;
    margin: auto;
}

#hamburger-menu {
    font-size: 20px;
    position: relative;
    right: 4px;
    top: 1px;
}

.globe-icon {
    font-size: 1.2em;
    transition: 0.2s ease;
}
.globe-icon2 {
    font-size: 1.2em;
    transition: 0.2s ease;
    fill: white;
}

#globe-container:hover {
    background-color: rgba(240, 240, 240, 0.397);
    border-radius: 50%;
    padding: 10px;
    height: 15px;
    width: 15px;
    margin: 0 auto;
    cursor: pointer;
}



.become-host-link a {
 text-decoration: none;
 color: black;
//  font-size: 0.8rem;
transition: 0.2s ease;
}
.become-host-link2 a {
 text-decoration: none;
 color: white;
//  font-size: 0.8rem;
 transition: 0.2s ease;
}

#become-host-link {
   behavior: smooth;
}
#become-host-h1 {
   font-weight:550;
   font-size: 1.7vh;
   transition: 0.1s;
}

#become-host-h1:hover {
    background-color: rgba(212, 212, 212, 0.1);
    padding: 13px 15px;
    border-radius: 2em;
}
#become-host-h1:hover {
    background-color: rgba(212, 212, 212, 0.158);
    padding: 13px 15px;
    border-radius: 2em;
}



.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    height: 10vh;
    width: 100%;
}

.nav-bar2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color:  black;
    box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.0), 0 0px 15px 0 rgba(0, 0, 0, 0.10);
    transform: translateY(0);
    transition: 0.2s ease;
    width: 100%;
    padding: 0px;
    height: 10vh;
  }

#start-your-search {
    font-weight: 500;
    font-size: 1.7vh;
}

.airbnb-logo {
    fill: rgba(255, 0, 55, 0.904);
    cursor: pointer;
    padding-left: 40%;
}
.airbnb-logo2 {
    fill: white;
    cursor: pointer;
    padding-left: 40%;
}

.far-right-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8%;
    width: 300px;
    padding: 0;
    margin-right: 2%;
}

.search-button-expanded {
    
}

//future reference
//change search bar at 744px X 788px viewport size