.App {
  text-align: center;
  overflow: hidden;
}


.SearchBar {
  display: flex;
  align-items: center;
  gap: 127px;
  padding: 0px 5px 0px 20px;
  width: 290px;
  height: 48px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, .10);
  border: 1px solid rgb(197, 197, 197);
  border-radius: 2rem;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease;
}

.SearchBar:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.search-icon {
  background-color: rgba(255, 0, 55, 0.904);
  padding: 1vh;
  border-radius: 50%;
  color: white;
  font-size: 2vh;
  // margin-left: 130px;
  margin-top: 4px;
}

.top-section {
  background-color: black;
  height: 160vh;
  padding: 70px 60px 40px 60px;
  overflow: hidden;
}

.second-section {
  background-color: white;
  height: 200vh;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar {
  display: flex;
  align-items: center;
  
}
