.App {
  text-align: center;
}


.SearchBar {
  display: flex;
  align-items: center;
  gap: 127px;
  padding: 0px 5px 0px 20px;
  width: 290px;
  height: 48px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border:1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  overflow: hidden;
  cursor: pointer;
}

.search-icon {
  background-color: rgba(255, 0, 55, 0.904);
  padding: 1vh;
  border-radius: 50%;
  color: white;
  font-size: 2vh;
  // margin-left: 130px;
  margin-top: 4px;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar {
  display: flex;
  align-items: center;
  
}
