.App {
  text-align: center;
}


.SearchBar {
  display: flex;
  width: 300px;
  height: 48px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border:1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  overflow: hidden;
  cursor: pointer;
}

.search-icon {
  background-color: rgba(255, 0, 0, 0.877);
  padding: 5px;
  border-radius: 50%;
  color: white;
  height: 20px;
  width: 20px;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
