.airbnb-flexible {
    background-image: url(../../Images/bubble.jpeg);
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    height: 90vh;
    width: 95%;
    margin: auto;
    margin-top: 100px;
}

.airbnb-flexible div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.airbnb-flexible div h1 {
    color: white;
    font-size: 6.5vh;
    font-weight: 500;
}

#im-flexible {
    font-weight: bold;
    font-size: 2.4vh;
    background-image: -webkit-linear-gradient(70deg, rgb(62, 13, 153),rgb(123, 25, 143), rgb(204, 21, 189));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    padding: 0;
}

#flexible-button {
    height: 7vh;
    width: 11vw;
    border-radius: 2em;
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: white;
}

#flexible-button:hover {
    background-color: whitesmoke;
}



//rgb(95, 17, 241),rgb(200, 51, 230)

.imflexible-container {
    margin-top: 30% !important;
}