@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



.flex-gift-card-container {
    background-color: rgb(241, 241, 241);
    display: flex;
    max-height: 80vh;
    width: 90%;
    margin: auto;
    border-radius: .7em;
    overflow: hidden;
    position: relative;
    bottom: 40vh;
}

.gift-card-text {
    margin: 0;
    padding: 0;
}

#intro-text-div {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 20px;
}

.child-element {
    flex: 1;
}


#snowy-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}

#giftcard-quote {
    font-size: 7vw;
    font-family: Roboto;
}
#giftcard-opening-quote {
    font-family: Roboto;
    font-weight: 450;
    font-size: 3vh;
}

#shop-now-button {
    border: none;
    background-color: rgb(32, 32, 32);
    font-size: 2.3vh;
    padding: 14px 20px 14px 20px;
    color: white;
    border-radius: .4em;
}

#shop-now-button:hover {
    background-color: black;
} 

#logo-image {
    position: absolute;
    max-height: 10vw;
    left: 67%;
    top: 35%;
}